/*-----------------------------------------------------------------------Global style*/
body {
  background-color: #c4ca14;
  font-family: 'Roboto', sans-serif;
  color: black;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
input {
  font-family: inherit;
}
button {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
}
button:hover,
button:focus {
  transform: scale(1.03);
  box-shadow: inset 0 0 10px #92a0fc;
}
